*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    display:flex;
    background:#f4f6f9;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#1b5e20;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin:10px 0;
    background:#2e7d32;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.sidebar ul li:hover{
    background:#388e3c;
}

.main{
    flex:1;
    padding:20px;
}

.topbar{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 5px gray;
}

.topbar h1{
    color:#1b5e20;
}

.contenedor{
    margin-top:20px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

h2{
    margin-bottom:20px;
    color:#1b5e20;
}

.formulario{
    display:flex;
    gap:10px;
    margin-bottom:30px;
}

.formulario input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:12px 20px;
    background:#1b5e20;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#388e3c;
}

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    border:1px solid #ccc;
    padding:15px;
    text-align:center;
}

th{
    background:#1b5e20;
    color:white;
}

tr:nth-child(even){
    background:#f1f8e9;
}